[MASTER]
ignore=venv/*,build/*,dist/*,docs/*,*.egg-info/*,*.pyc,*.pyo,*.swp,*.swo,*.po,*.mo,*.pot,*.bak,*.orig,*.py~,*.pyc~,*.pyo~,*.swp~,*.swo~,*.po~,*.mo~,*.pot~,*.bak~,*.orig~
[BASIC]
ignored-modules=scipy.special
persistent=no
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,_,pk,x,y,e,id,cx,v,n
