.instructionsButton{
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  border: none;
  padding: 10px;
  width: fit-content;
  margin-bottom:5px;
  transition: all 0.5s;
}

.instructionsButton:hover{
  background-color: rgba(150, 127, 255, 100);
  box-shadow:  rgba(255, 255, 255,100) 1px 1px 2px;
  cursor: pointer;
}

.instructions{
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  margin-top:10px;
  width:100%;
  height:fit-content;
}
.instructionsBody{
  text-align: left;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:100px;
  font-size: medium;
  white-space: wrap;
}
.instructionsBody a{
  white-space: pre;
  color: rgb(69, 193, 255);
}
