.IECApp {
  text-align: center;
}

.IECApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .IECApp-logo { */
    /* animation: IECApp-logo-spin infinite 20s linear; */
  /* } */
}

.IECApp-background {
  background-color: #282c34;
  background-image: linear-gradient(to top right, #282c34, #051d1e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.IECApp-link {
  color: #61dafb;
}

@keyframes IECApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height:600px;
  min-height: fit-content;
}